In [24]:
name = "denindrahckd"
address,province = "Jl.Raya Cibolang","743412"
age = 15
scorePython = 99.9
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemograman :",scorePython)
print("StatusNikah :",isMarried)
print("propinsi:",province)

Nama : denindrahckd
Alamat : Jl.Raya Cibolang
Umur : 15
Nilai Pemograman : 99.9
StatusNikah : False
propinsi: 743412

print("Tipe data <name> :",type(name))
print("Tipe data <address> :",type(address))
print("Tipe data <age> :",type(age))
print("Tipe data <scorePython> :",type(scorePython))
print("Tipe data <isMarried> :",type(isMarried))

In [122]:
#Casting / KOnversi Tipe Data 
#1 String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

#2 Int ke (str, float, boolean)
intToStr = str(province)
intToFloat = float(province)
intToBool = bool(province)
print(intToStr, intToFloat, intToBool , sep="-") 
#3 float ke (int, str , boolean)
floatToInt = (scorePython)
floatToStr = (scorePython)
floatToBool = (scorePython)
print(floatToInt, floatToStr, floatToBool, sep="-")


#4 Bool ke ( int, str, boolean)
boolToInt = int(isMarried)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
print(boolToInt, boolToStr, boolToFloat, sep="_")

#Tipe data basis bilangan (desimal,biner,octal, hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",octal)
print("Nilai hexa :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai Octal dari ",desimal, ":",oct(desimal))
print("Nilai Hexa dari ", desimal, ":",hex(desimal))

743414-743412.0-True
743412-743412.0-True
99.9-99.9-99.9
0_False_0.0
Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai hexa : 255
Nilai biner dari  500 : 0b111110100
Nilai Octal dari  500 : 0o764
Nilai Hexa dari  500 : 0x1f4

In [78]:
city = "CIBADAK"
lenght = len(city)
print(city[0])
print(lenght)
print(city[lenght-1])

C
7
K

In [158]:
#Tipe data Collection
cities =["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lenghtCities = len(cities)
print(cities)
print(cities[0])
print(cities[lenghtCities-1])
print(cities[lenghtCities-6][0])
print(cities[lenghtCities-1][len(cities[lenghtCities-1])-1])
#cities[5] "Malang" akan menyebabkan error out of range
cities[0] = "Bali"
print(cities)


names = ("Andi","Ferdi","Wawan")
print(names)
print(names[1])
#names[0] = "Dedi" error imumutable tuple

studentData = {
    "name" : "Wawan",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Basket, Futsal, Makan"]
} 

print(studentData)
print(studentData["age"])
print(studentData["address"] ["province"])
print(studentData["hobbies"] [0])

studentList = [
    {
    "name" : "japar",
    "age" : 22,
    "address" : {
        "street" : "Cibolang",
        "number" : 11,
        "province" : "Jawa Timur"
    },
    "isMarried" : True,
    "hobbies" : ["Basket, Futsal, Makan"]
    },

    {
     "name" : "japar",
     "age" : 22,
    "address" : {
        "street" : "Cibolang",
        "number" : 11,
        "province" : "Jawa Timur"
    },
    "isMarried" : True,
    "hobbies" : ["Basket, Futsal, Makan"]
    }      
    
]
print(studentList[1])
print(studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Andi', 'Ferdi', 'Wawan')
Ferdi
{'name': 'Wawan', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket, Futsal, Makan']}
25
Jawa Barat
Basket, Futsal, Makan
{'name': 'japar', 'age': 22, 'address': {'street': 'Cibolang', 'number': 11, 'province': 'Jawa Timur'}, 'isMarried': True, 'hobbies': ['Basket, Futsal, Makan']}
Jawa Timur

In [178]:
#Konversi dictionary

list_list = [["Name","Andi",],["Age",30],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"), ("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name", "Crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle","Brand","cc"]
values = ["Car","BMW","2500"]
car = dict(zip(keys,values))
print(car)

{'Name': 'Andi', 'Age': 30, 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}
{'Vehicle': 'Car', 'Brand': 'BMW', 'cc': '2500'}